    
    <link rel="stylesheet" href="stylesheets/main.css">
    <link rel="stylesheet" href="stylesheets/normalize.css">
    <div class="topnav">
      <a class="active" href="/">Club</a>
      <a href="/squad">Squad</a>
      <a href="/stadium">Stadium</a>
      <a href="/stadium2">Stadium2</a>
      <input type="text" placeholder="Search">
    </div>
