    <div class="topnav">
      <a class="active" href="/">Club</a>
      <a href="/squad">Squad</a>
      <a href="/stadium">Stadium</a>
      <a href="/stadium2">Stadium2</a>
      <a href="/users">Users</a>
      
      <% if(!currentUser) {%>
          <a href="/users/login">Login</a>
          <a href="/users/signup">Register</a>
      <% } else {%>
          <a href="/users/logout">Logout</a>
      <% } %>
      <input type="text" placeholder="Search">
    </div>