<!DOCTYPE HTML>
<html>

<head>

    <meta charset="utf-8">
    <title>
        <%= title %>
    </title>
    
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">

    <%- include partials/header.ejs %>

</head>

<body style="background-color:#045BCB;">

<h1>Brighton and Hove Albion</h1>

<p> List of the players</p>

<table id="t01">
  <tr>
    <th>Firstname</th>
    <th>Lastname</th>
    <th>Nationality</th>
  </tr>
  <tr>
    <td>Matt</td>
    <td>Ryan</td>
    <td>Australia</td>
  </tr>
   <tr>
    <td>Jason</td>
    <td>Steele</td>
    <td>England</td>
  </tr>
   <tr>
    <td>Christian</td>
    <td>Walton</td>
    <td>England</td>
  </tr>
   <tr>
    <td>Robert</td>
    <td>Sanchez</td>
    <td>Spain</td>
  </tr>
   <tr>
    <td>Ben</td>
    <td>White</td>
    <td>England</td>
  </tr>
   <tr>
    <td>Tariq</td>
    <td>Lamptey</td>
    <td>England</td>
  </tr>
   <tr>
    <td>Lewis</td>
    <td>Dunk</td>
    <td>England</td>
  </tr>
   <tr>
    <td>Dan</td>
    <td>Burn</td>
    <td>England</td>
  </tr>
   <tr>
    <td>Joel</td>
    <td>Veltman</td>
    <td>Netherlands</td>
  </tr>
   <tr>
    <td>Romaric</td>
    <td>Yapi</td>
    <td>France</td>
  </tr>
   <tr>
    <td>Bernardo</td>
    <td></td>
    <td>Brazil</td>
  </tr>
  <tr>
    <td>Haydon</td>
    <td>Roberts</td>
    <td>Defender</td>
  </tr>
  <tr>
    <td>Yves</td>
    <td>Bissouma</td>
    <td>Mali</td>
  </tr>
  <tr>
    <td>Alexis</td>
    <td>Allister</td>
    <td>Argentina</td>
  </tr>
  <tr>
    <td>Pascal</td>
    <td>Grob</td>
    <td>Germany</td>
  </tr>
  <tr>
    <td>Adam</td>
    <td>Lallana</td>
    <td>England</td>
  </tr>
  <tr>
    <td>Solly</td>
    <td>March</td>
    <td>England</td>
  </tr>
  <tr>
    <td>Davy</td>
    <td>Propper</td>
    <td>Netherlands</td>
  </tr>
  <tr>
    <td>Steven</td>
    <td>Alzate</td>
    <td>Columbia</td>
  </tr>
  <tr>
    <td>Max</td>
    <td>Sanders</td>
    <td>England</td>
  </tr>
  <tr>
    <td>Jayson</td>
    <td>Molumby</td>
    <td>Ireland</td>
  </tr>
  <tr>
    <td>Lars</td>
    <td>Dendoncker</td>
    <td>Belgium</td>
  </tr>
  <tr>
    <td>Peter</td>
    <td>Gwargis</td>
    <td>Sweden</td>
  </tr>
  <tr>
    <td>Teddy</td>
    <td>Jenks</td>
    <td>England</td>
  </tr>
  <tr>
    <td>Leandro</td>
    <td>Trossard</td>
    <td>Belgium</td>
  </tr>
  <tr>
    <td>Neal</td>
    <td>Maupay</td>
    <td>France</td>
  </tr>
  <tr>
    <td>Alireza</td>
    <td>Jahanbakhsh</td>
    <td>Iran</td>
  </tr>
  <tr>
    <td>Jose</td>
    <td>Izquierdo</td>
    <td>Columbia</td>
  </tr>
  <tr>
    <td>Florin</td>
    <td>Andone</td>
    <td>Romania</td>
  </tr>
  <tr>
    <td>Andi</td>
    <td>Zeqiri</td>
    <td>Switzerland</td>
  </tr>
  
  
</table>

<hr size="3" width="100%" color="white">

<%- include partials/footer.ejs %>

</body>
</html>
